.git
.github
node_modules
vendor
public/build
public/hot
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
database/database.sqlite
cloudflared.exe
.env
.env.*
!.env.example
.backup-design
tests
.phpunit.result.cache
*.md
